* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f6f7;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.inline {
  display: flex;
}

header {
  padding: 15px 0px;
  justify-content: space-between;
}

.logo .brand-name a {
  font-size: 3rem;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #12b4fb;
  text-decoration: none;
}

.menubar .menu-list ul {
  padding: 0px;
  margin: 0px;
}

.menubar .menu-list ul li {
  list-style-type: none;
  display: inline;
  padding: 12px 15px;
  line-height: 60px;
}

#active {
  border-bottom: 2px solid #373f4a;
}

.menubar .menu-list ul li a {
  color: #058df7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/*-------- Header section done -------*/

.intro-section {
  padding: 10px 0px;
}

.inline .box {
  width: 50%;
}

#welcome {
  color: #058df7;
}

.intro-section .details h1 {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #373f4a;
}

.intro-section .details p {
  margin: 25px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #373f4a;
  margin-bottom: 30px;
}

.gradient-btn {
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: linear-gradient(90deg, #13b7fb, #099af9, #0286f6);
  color: #ffffff;
  border-radius: 50px;
}

.intro-section .img-box {
  width: 40%;
  margin: 0px 0px 0px auto;
}

.intro-section .img-box img {
  width: 100%;
}

/* -------Intro section done-------- */

.about-section {
  padding: 25px 0px;
  background: url(./images/shapes/Frame\ 57.jpg) no-repeat;
  background-size: cover;
}

.about-section .img-box {
  width: 30%;
  margin: 0 auto;
}

.about-section .img-box img {
  width: 100%;
}

.about-section .details {
  margin-left: 40px;
}

.about-section .details hr {
  width: 100px;
}

.about-section .details h1 {
  margin-top: 120px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #373f4a;
}

.about-section .details p {
  margin: 25px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #373f4a;
  margin-bottom: 30px;
  text-align: justify;
}

/* ----------About section done -----------*/

.recipies-section {
  padding: 40px 0px;
}

.recipies-section .title {
  margin-top: 20px;
  text-align: center;
}

.recipies-section .title hr {
  width: 120px;
  margin: 0 auto;
}

.recipies-section .inline .food-item {
  width: 30%;
  margin: 0px 20px;
  box-shadow: 3px 3px 5px 0.5 #252525;
  padding: 20px 30px;
  box-shadow: 4px 2px 10px 5px rgba(37, 37, 37, 0.44);
  border-radius: 15px;
}

.recipies-section .inline .food-item img {
  width: 100%;
  border-radius: 15px;
}

.recipies-section .title h1,
.recipies-section .food-item .food-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #373f4a;
  padding-bottom: 5px;
}

.recipies-section .food-item .food-name {
  font-size: 1.3rem;
  margin-top: 10px;
  color: #252525;
}

.recipies-section .title p,
.recipies-section .food-item .food-descreption {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #373f4a;
  margin: 20px 0px 30px 0px;
}

.recipies-section .food-item .food-descreption {
  margin-top: 7px;
}

/*----------- Recipies section done --------------*/

.social-section {
  padding: 30px 0px;
}

.social-section .inline .item {
  width: 33%;
  text-align: center;
}

.social-section .inline .item h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #373f4a;
}

.social-section .inline .item p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #373f4a;
  margin: 0px 0px 30px 0px;
}

/*---------- Social section done -----------*/

.footer {
  padding: 30px 0px;
  background-color: #d7d7d7;
}

.footer .container {
  padding-bottom: 30px;
}

.footer .box {
  width: 33.33%;
}

.footer .box {
  margin: 0 auto;
}

.footer input,
.footer textarea {
  display: block;
  width: 70%;
  height: 35px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #252525;
  margin: 10px 0px;
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.footer textarea {
  height: 60px;
}

.footer h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  color: #252525;
  margin-bottom: 10px;
}

.footer .middle-box {
  padding-left: 50px;
}

.footer .box ul {
  margin-left: 16px;
}

.footer .box ul li {
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #252525;
}

.footer .last-footer {
  text-align: center;
  padding-top: 10px;
}

.footer .last-footer h1 {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-size: 3rem;
}

.footer .last-footer p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #373f4a;
}
