* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.inline {
  display: flex;
}

header {
  padding: 15px 0px;
  justify-content: space-between;
}

.logo .brand-name a {
  font-size: 3rem;
  font-family: "Italianno", cursive;
  font-weight: 400;
  color: #12b4fb;
  text-decoration: none;
}

.menubar .menu-list ul {
  padding: 0px;
  margin: 0px;
}

.menubar .menu-list ul li {
  list-style-type: none;
  display: inline;
  padding: 12px 15px;
  line-height: 60px;
}

#active {
  border-bottom: 2px solid #058df7;
}
.menubar .menu-list ul li a {
  color: #058df7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/*-------- Header section done -------*/

.intro-section {
  padding: 20px 0px;
  border-bottom: 1px solid #000;
}

.inline .box {
  width: 50%;
}

#welcome {
  color: #058df7;
}

.intro-section .details h1 {
  margin-top: 60px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  color: #373f4a;
}

.intro-section .details p {
  margin: 25px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #373f4a;
  margin-bottom: 30px;
}

.intro-section .details a {
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: linear-gradient(90deg, #13b7fb, #099af9, #0286f6);
  color: #ffffff;
  border-radius: 50px;
}

.intro-section .img-box {
  width: 40%;
  margin: 0px 0px 0px auto;
}

.intro-section .img-box img {
  width: 100%;
}

/* -------Intro section done-------- */
